/* CONTAINER */
.signin__container {
  display: grid;
  grid-template-columns: 35% auto;
  height: 100vh;
  min-height: 100vh;
}

/* ASIDE */
.aside-grid {
  padding: 2vh;
  background-color: var(--first-color);
  color: var(--text-color-light);
}

.aside-grid a {
  text-decoration: none;
  cursor: pointer;
  font-size: 7vh;
  color: var(--text-color-light);
}

.aside-grid h1,
.aside-grid p,
.aside-grid i {
  text-align: center;
}

.aside-grid p i {
  margin-top: 50vh;
  font-size: 15vh;
}

/* CONTENT */
.content-grid {
  display: flex;
  flex-direction: column;
  padding: 10vh;
  background-color: var(--container-color);
}

.content-grid .content__head {
  margin-bottom: 5vh;
}

.content__menu {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
}

.content__menu a {
  text-decoration: none;
  color: var(--title-color);
}

.menu {
  background-color: var(--first-color-alt);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70vh;
  width: 40vh;
}

.menu h1 {
  text-align: center;
  padding: 5vh 0;
}

.menu img {
  width: 40vh;
  size: cover;
}

/* RESPONSIVE */
@media screen and (max-width: 768px) {
  .signin__container {
    display: grid;
    grid-template-columns: auto;
  }

  .aside-grid p {
    display: none;
  }

  .aside-grid i {
    padding-top: 3vh;
  }

  .aside-grid {
    display: flex;
    width: 100%;
    height: 7vh;
    align-items: center;
    position: fixed;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }

  .content-grid {
    margin-top: 5vh;
  }
}

@media screen and (max-width: 615px) {
  .content__menu {
    grid-template-columns: auto;
  }

  .content-grid {
    padding-left: 2vh;
    padding-right: 2vh;
  }

  .content__menu .menu {
    margin: 3vh 0;
    height: 30vh;
    width: 45vh;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-around;
  }

  .menu img {
    width: 25vh;
  }
}
