/* CONTAINER */
.register__container {
  display: grid;
  grid-template-columns: 35% auto;
  height: 100vh;
  min-height: 100vh;
}

/* ASIDE */
.aside-grid {
  padding: 2vh;
  background-color: var(--first-color);
  color: var(--text-color-light);
}

.aside-grid a {
  text-decoration: none;
  cursor: pointer;
  font-size: 7vh;
  color: var(--text-color-light);
}

.aside-grid h1,
.aside-grid p,
.aside-grid i {
  text-align: center;
}

.aside-grid p i {
  margin-top: 50vh;
  font-size: 15vh;
}

/* CONTENT */
.content-grid {
  display: flex;
  flex-direction: column;
  padding: 10vh;
  background-color: var(--body-color);
}

.content-grid .content__head {
  margin-bottom: 5vh;
}

.sk {
  margin-bottom: 5vh;
}

.sk h3 {
  margin-bottom: 1.5vh;
}

.sk li {
  margin-bottom: 1vh;
}

/* RESPONSIVE */
@media screen and (max-width: 768px) {
  .sdk__container {
    display: grid;
    grid-template-columns: auto;
  }

  .aside-grid p {
    display: none;
  }

  .aside-grid i {
    padding-top: 3vh;
  }

  .aside-grid {
    display: flex;
    width: 100%;
    height: 7vh;
    align-items: center;
    position: fixed;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }

  .content-grid {
    margin-top: 5vh;
    padding-right: 7vh;
    padding-left: 7vh;
  }
}
