/* CONTAINER */
.signin__container {
  display: grid;
  grid-template-columns: 35% auto;
  height: 100vh;
  min-height: 100vh;
}

/* ASIDE */
.aside-grid {
  padding: 2vh;
  background-color: var(--first-color-alt);
  color: var(--text-color-light);
}

.aside-grid a {
  text-decoration: none;
  cursor: pointer;
  font-size: 7vh;
  color: var(--text-color-light);
}

.aside-grid h1,
.aside-grid p,
.aside-grid i {
  text-align: center;
}

.aside-grid p i {
  margin-top: 50vh;
  font-size: 15vh;
}

/* CONTENT */
.content-grid {
  display: flex;
  flex-direction: column;
  padding: 10vh;
  background-color: var(--body-color);
}

.content-grid .content__head {
  margin-bottom: 5vh;
}

.content-grid label {
  font-weight: 600;
}

.content-grid form {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.content-grid a {
  text-decoration: none;
  color: var(--font-purple);
}

.content-grid .input-text {
  margin-bottom: 3vh;
  height: 4.5vh;
  width: 100%;
  border-radius: 1vh;
  text-align: center;
  border: 0.3vh solid var(--font-grey);
}

.content-grid button {
  height: 4.5vh;
  width: 40vh;
  border-radius: 1vh;
  border: none;
  cursor: pointer;
  margin: 1vh 1vh 1vh 1vh;
  box-shadow: 0.1vh 0.3vh 0.5vh var(--font-grey);
}

.content-grid .signin {
  background-color: var(--button-primary);
  color: var(--text-color-light);
}

.content-grid .signin:hover {
  background-color: var(--button-primary-alt);
}

.content-grid .btn-second {
  background-color: var(--text-color-light);
  color: var(--text-color);
}

.content-grid .btn-second:hover {
  background-color: var(--body-color);
}

.content-grid .order__signin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-grid .register {
  text-align: right;
}
